
body {
    margin: 0 0 100px;
}


footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    background-color: transparent;
    text-align: right;
    padding: 5px;
}


div.button-spacer {
    height: 10px;
}

.spacer {
    margin-top: 40px;
}

.btn-github {
    background: black;
    color: white;
}

.btn-github:hover {
    background-color: grey;
    color: blue;
}
